@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}
