.app {
    /* sizes */
    --xs: 0.06rem;
    --sm-1: 0.12rem;
    --sm-2: 0.25rem;
    --sm-3: 0.5rem;
    --sm-4: 0.75rem;
    --md-1: 1rem;
    --md-2: 1.25rem;
    --md-3: 1.5rem;
    --md-4: 1.75rem;
    --lr-1: 2rem;
    --lr-2: 2.25rem;
    --lr-3: 2.5rem;
    --lr-4: 2.75rem;
    --xl: 3rem;

    /* colors */
    --primary: hsl(255, 78%, 50%);
    --primary-light: hsl(255, 62%, 56%);
    --primary-dark: hsl(255, 78%, 35%);

    --secondary: hsl(150, 78%, 50%);
    --secondary-light: hsl(150, 78%, 65%);
    --secondary-dark: hsl(150, 78%, 35%);

    --accent: hsl(251, 35%, 94%);
    --accent-light: hsl(256, 100%, 100%);
    --accent-dark: hsl(256, 12%, 75%);

    --dark: hsl(254, 64%, 9%);
    --dark-light: hsl(258, 8%, 25%);
    --dark-thin-light: hsl(261, 6%, 43%);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.app__content {
    width: 768px;
}

@media (max-width: 820px) {
    .app__content {
        width: 100%;
    }
}
