.select {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 content;
    padding: var(--sm-4);
    border-top-left-radius: var(--sm-3);
    border-bottom-left-radius: var(--sm-3);
    background-color: var(--dark);
    color: var(--accent);
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    user-select: none;
}

.select__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.select__dropdown {
    position: absolute;
    top: calc(100% - var(--sm-3));
    left: 0;
    display: flex;
    flex-direction: column;
    padding: var(--sm-4);
    border-bottom-left-radius: var(--sm-3);
    background-color: var(--dark);
}

.option {
    padding: var(--sm-2);
}

.option:hover {
    background-color: var(--accent-light);
}

.active {
    background-color: var(--accent);
    color: var(--dark);
}

.chevron {
    flex: 1 1 content;
    margin-left: var(--sm-4);
}
